<div class="container-fluid p-4">
    
    <div class="row">
        <div class="col-md-8 m-0">
            <div class="row m-0 mb-4 d-flex justify-content-around text-center">
                <div class="col-md-2"><i class="fa-solid fa-city"></i> Rutas</div>
                <div class="col-md-2"><i class="fa-solid fa-person"></i> Pasajero</div>
                <div class="col-md-2"><i class="fa-solid fa-person-seat"></i> Asientos</div>
                <div class="col-md-2"><i class="fa-solid fa-ticket"></i> Pago</div>
                <div class="col-md-3"><i class="fa-solid fa-shield-check"></i> Confirmacion</div>
            </div>
                <mat-progress-bar mode="determinate" value="50"></mat-progress-bar>
                <div class="row d-flex justify-content-around m-0 mt-4">
                    <div class="col-md-auto">
                        <div class="card border-primary p-0">
                            <div class="card-header text-white border-primary app-{{colorapp}}"><h5 class="card-title"></h5></div>
                            <div class="card-body">
                                <div class="col-12 d-flex justify-content-around mb-2">
                                    <img width="60" alt="Angular Logo" src="/assets/images/logo_aexa.svg"/>
                                </div>
                            <div class="col-12 text-center">
                                <h5 class="card-title">Pasajero 1</h5>
                            </div>
                            <div class="row d-flex justify-content-around">
                                <div class="col-md-6 d-flex justify-content-around">
                                    <i class="fa-solid fa-person-seat-reclined fa-2x"></i>
                                </div>
                            </div>
                            </div> 
                        </div>
                    </div>
                    <div class="col-md-auto">
                        <div class="card border-primary p-0">
                            <div class="card-header text-white border-primary app-{{colorapp}}"><h5 class="card-title"></h5></div>
                            <div class="card-body">
                                <div class="col-12 d-flex justify-content-around mb-2">
                                    <img width="60" alt="Angular Logo" src="/assets/images/logo_aexa.svg"/>
                                </div>
                            <div class="col-12 text-center">
                                <h5 class="card-title">Pasajero 2</h5>
                            </div>
                            <div class="row d-flex justify-content-around">
                                <div class="col-md-6 d-flex justify-content-around">
                                    <i class="fa-solid fa-person-seat-reclined fa-2x"></i>
                                </div>
                            </div>
                            </div> 
                        </div>
                    </div>
                </div>

                <div id="bus" class="row m-0 mt-4 p-4">
                <table class="table-sm">
                    <tbody>
                        <tr class="text-center">
                            <td><i class="fa-sharp fa-solid fa-loveseat fa-rotate-90 fa-3x"></i><span class="badge text-bg-danger">01</span></td>
                            <td><i class="fa-sharp fa-solid fa-loveseat fa-rotate-90 fa-3x"></i><span class="badge text-bg-danger">02</span></td>
                            <td><i class="fa-sharp fa-solid fa-loveseat fa-rotate-90 fa-3x"></i><span class="badge text-bg-danger">03</span></td>
                            <td><i class="fa-sharp fa-solid fa-loveseat fa-rotate-90 fa-3x"></i><span class="badge text-bg-danger">04</span></td>
                            <td><i class="fa-sharp fa-solid fa-loveseat fa-rotate-90 fa-3x"></i><span class="badge text-bg-danger">05</span></td>
                            <td><i class="fa-sharp fa-solid fa-loveseat fa-rotate-90 fa-3x"></i><span class="badge text-bg-danger">06</span></td>
                            <td><i class="fa-sharp fa-solid fa-loveseat fa-rotate-90 fa-3x"></i><span class="badge text-bg-danger">07</span></td>
                            <td><i class="fa-sharp fa-solid fa-loveseat fa-rotate-90 fa-3x"></i><span class="badge text-bg-danger">08</span></td>
                            <td><i class="fa-sharp fa-solid fa-loveseat fa-rotate-90 fa-3x"></i><span class="badge text-bg-danger">09</span></td>
                            <td><i class="fa-sharp fa-solid fa-loveseat fa-rotate-90 fa-3x"></i><span class="badge text-bg-danger">10</span></td>
                        </tr>
                        <tr class="text-center">
                            <td><i class="fa-sharp fa-solid fa-loveseat fa-rotate-90 fa-3x"></i><span class="badge text-bg-danger">11</span></td>
                            <td><i class="fa-sharp fa-solid fa-loveseat fa-rotate-90 fa-3x"></i><span class="badge text-bg-danger">12</span></td>
                            <td><i class="fa-sharp fa-solid fa-loveseat fa-rotate-90 fa-3x"></i><span class="badge text-bg-danger">13</span></td>
                            <td><i class="fa-sharp fa-solid fa-loveseat fa-rotate-90 fa-3x"></i><span class="badge text-bg-danger">14</span></td>
                            <td><i class="fa-sharp fa-solid fa-loveseat fa-rotate-90 fa-3x"></i><span class="badge text-bg-danger">15</span></td>
                            <td><i class="fa-sharp fa-solid fa-loveseat fa-rotate-90 fa-3x"></i><span class="badge text-bg-danger">16</span></td>
                            <td><i class="fa-sharp fa-solid fa-loveseat fa-rotate-90 fa-3x"></i><span class="badge text-bg-danger">17</span></td>
                            <td><i class="fa-sharp fa-solid fa-loveseat fa-rotate-90 fa-3x"></i><span class="badge text-bg-danger">18</span></td>
                            <td><i class="fa-sharp fa-solid fa-loveseat fa-rotate-90 fa-3x"></i><span class="badge text-bg-danger">19</span></td>
                            <td><i class="fa-sharp fa-solid fa-loveseat fa-rotate-90 fa-3x"></i><span class="badge text-bg-danger">20</span></td>
                            <td></td>
                        </tr>
                        <tr><td><br></td></tr>
                        <tr class="text-center">
                            <td><i class="fa-sharp fa-solid fa-loveseat fa-rotate-90 fa-3x"></i><span class="badge text-bg-danger">21</span></td>
                            <td><i class="fa-sharp fa-solid fa-loveseat fa-rotate-90 fa-3x"></i><span class="badge text-bg-danger">22</span></td>
                            <td><i class="fa-sharp fa-solid fa-loveseat fa-rotate-90 fa-3x"></i><span class="badge text-bg-danger">23</span></td>
                            <td><i class="fa-sharp fa-solid fa-loveseat fa-rotate-90 fa-3x"></i><span class="badge text-bg-danger">24</span></td>
                            <td><i class="fa-sharp fa-solid fa-loveseat fa-rotate-90 fa-3x"></i><span class="badge text-bg-danger">25</span></td>
                            <td><i class="fa-sharp fa-solid fa-loveseat fa-rotate-90 fa-3x"></i><span class="badge text-bg-danger">26</span></td>
                            <td><i class="fa-sharp fa-solid fa-loveseat fa-rotate-90 fa-3x"></i><span class="badge text-bg-danger">27</span></td>
                            <td><i class="fa-sharp fa-solid fa-loveseat fa-rotate-90 fa-3x"></i><span class="badge text-bg-danger">28</span></td>
                            <td><i class="fa-sharp fa-solid fa-loveseat fa-rotate-90 fa-3x"></i><span class="badge text-bg-danger">28</span></td>
                            <td><i class="fa-sharp fa-solid fa-loveseat fa-rotate-90 fa-3x"></i><span class="badge text-bg-danger">30</span></td>
                            <td></td>
                        </tr>
                        <tr class="text-center">
                            <td><i class="fa-sharp fa-solid fa-loveseat fa-rotate-90 fa-3x"></i><span class="badge text-bg-danger">31</span></td>
                            <td><i class="fa-sharp fa-solid fa-loveseat fa-rotate-90 fa-3x"></i><span class="badge text-bg-danger">32</span></td>
                            <td><i class="fa-sharp fa-solid fa-loveseat fa-rotate-90 fa-3x"></i><span class="badge text-bg-danger">33</span></td>
                            <td><i class="fa-sharp fa-solid fa-loveseat fa-rotate-90 fa-3x"></i><span class="badge text-bg-danger">34</span></td>
                            <td><i class="fa-sharp fa-solid fa-loveseat fa-rotate-90 fa-3x"></i><span class="badge text-bg-danger">35</span></td>
                            <td><i class="fa-sharp fa-solid fa-loveseat fa-rotate-90 fa-3x"></i><span class="badge text-bg-danger">36</span></td>
                            <td><i class="fa-sharp fa-solid fa-loveseat fa-rotate-90 fa-3x"></i><span class="badge text-bg-danger">37</span></td>
                            <td><i class="fa-sharp fa-solid fa-loveseat fa-rotate-90 fa-3x"></i><span class="badge text-bg-danger">38</span></td>
                            <td><i class="fa-sharp fa-solid fa-loveseat fa-rotate-90 fa-3x"></i><span class="badge text-bg-danger">39</span></td>
                            <td><i class="fa-sharp fa-solid fa-loveseat fa-rotate-90 fa-3x"></i><span class="badge text-bg-danger">40</span></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>

                <div class="row d-flex justify-content-center m-0 mt-4">
                    <div class="col-md-3 text-center">
                    <i class="fa-sharp fa-solid fa-loveseat fa-3x" style="color: white;"></i> Libre</div>
                    <div class="col-md-3 text-center">
                    <i class="fa-sharp fa-solid fa-loveseat fa-3x" style="color: red;"></i> Vendido</div>
                    <div class="col-md-3 text-center">
                    <i class="fa-sharp fa-solid fa-loveseat fa-3x" style="color: blue;"></i> Seleccionado</div>
                    <div class="col-md-3 text-center">
                    <i class="fa-sharp fa-solid fa-loveseat fa-3x" style="color: yellow;"></i> Reservado</div>
                </div>
            </div>

            <div class="row m-0 mt-4">
                <div class="col-md-6 d-flex justify-content-end">
                    <a routerLink="/pago" class="btn btn-primary">Pago</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 m-0">
            <div class="card border-primary mb-3">
            <div class="card-header text-white border-primary app-{{colorapp}}"><h5 class="card-title">Informacion</h5></div>
            <div class="card-body text-dark">
                <h5 class="card-title">Viaje</h5>
                <p class="card-text">Ruta <br> TUX - TAP <br> 17:00 - 05:00 <br> Jueves 27 Julio 2023</p>
                <h5 class="card-title">Pasajeros</h5>
                <p class="card-text">Hugo David Aguilar</p>
                <h5 class="card-title">Costo</h5>
                <p class="card-text">Tarifa - $450.00 <br> Descuento - $50</p>
                <h5 class="card-title">Servicio Extra</h5>
                <p class="card-text">Equipaje - Mano 15kg <br> Equipaje Extra - 25kg</p>
                
                <h5 class="card-title">Terminos y condiciones</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
            <div class="card-footer bg-transparent border-primary">
                <h5 class="card-title">Total</h5>
                <p class="card-text">$400.00</p>
            </div>
        </div>
        </div>
    </div>
</div>


