<div class="container-fluid p-4">
    <div class="row m-0">
        <div class="col-md-12 m-0">
            <br>
            <div class="row m-0 mb-4 d-flex justify-content-around text-center">
                <div class="col-md-2"><i class="fa-solid fa-city"></i> Rutas</div>
                <div class="col-md-2"><i class="fa-solid fa-person"></i> Pasajero</div>
                <div class="col-md-2"><i class="fa-solid fa-person-seat"></i> Asientos</div>
                <div class="col-md-2"><i class="fa-solid fa-ticket"></i> Pago</div>
                <div class="col-md-3"><i class="fa-solid fa-shield-check"></i> Confirmacion</div>
            </div>

            <mat-progress-bar mode="determinate" value="30"></mat-progress-bar>

        </div>
    </div>
    <div class="row mt-4">
        <div class="col-md-8 m-0 p-0">

            <div class="row m-0">
                <div class="col-md-3">
                    <div class="card border-{{colorapp}} p-0">
                        <div class="card-header text-white border-{{colorapp}} app-{{colorapp}}"><h5 class="card-title"></h5></div>
                        <div class="card-body">
                            <div class="col-12 d-flex justify-content-around">
                                <img width="60" alt="Angular Logo" src="/assets/images/logo_aexa.svg"/> <h5 class="card-title">Aexa Light</h5>
                            </div>
                            <div class="row text-center">
                                <a (click)="toggleCollapse(1)" cButton class="me-1" color="primary">
                                    <h5 class="card-title">Pasajero 1</h5>
                                    <i class="fa-solid fa-person-seat-reclined fa-2x"></i>
                                </a>
                            </div>
                        </div> 
                    </div>
                </div>
                <div [visible]="visible1" cCollapse class="col-md-9">
                    <div class="card border-{{colorapp}} p-0">
                        <div class="card-header text-white border-{{colorapp}} app-{{colorapp}}"><h5 class="card-title m-0">Datos</h5></div>
                        <div class="card-body">
                            <div class="input-group border mb-2">
                                <span class="input-group-text">Nombre y Apellidos</span>
                                <input type="text" aria-label="First name" class="form-control">
                                <input type="text" aria-label="Last name" class="form-control">
                            </div>
                            <div class="row d-flex justify-content-around">
                                <div class="col-md-6 d-flex justify-content-around">
                                </div>
                                <div class="col-md-6 d-flex justify-content-end">
                                    <a routerLink="/asientos" class="btn btn-primary">Guardar</a>
                                </div>
                            </div>
                        </div> 
                    </div>
                </div>
            </div>
            <div class="row m-0 mt-4">
                <div class="col-md-3">
                    <div class="card border-{{colorapp}} p-0">
                        <div class="card-header text-white border-{{colorapp}} app-{{colorapp}}"><h5 class="card-title"></h5></div>
                        <div class="card-body">
                            <div class="col-12 d-flex justify-content-around">
                                <img width="60" alt="Angular Logo" src="/assets/images/logo_aexa.svg"/> <h5 class="card-title">Aexa Light</h5>
                            </div>
                            <div class="row text-center">
                                <a (click)="toggleCollapse(2)" cButton class="me-1" color="primary">
                                    <h5 class="card-title">Pasajero 2</h5>
                                    <i class="fa-solid fa-person-seat-reclined fa-2x"></i>
                                </a>
                            </div>
                        </div> 
                    </div>
                </div>
                <div [visible]="visible2" cCollapse class="col-md-9">
                        <div class="card border-{{colorapp}} p-0">
                            <div class="card-header text-white border-{{colorapp}} app-{{colorapp}}"><h5 class="card-title m-0">Datos</h5></div>
                            <div class="card-body">
                                <div class="input-group border mb-2">
                                    <span class="input-group-text">Nombre y Apellidos</span>
                                    <input type="text" aria-label="First name" class="form-control">
                                    <input type="text" aria-label="Last name" class="form-control">
                                </div>
                                <div class="row d-flex justify-content-around">
                                    <div class="col-md-6 d-flex justify-content-around">
                                    </div>
                                    <div class="col-md-6 d-flex justify-content-end">
                                        <a routerLink="/asientos" class="btn btn-primary">Guardar</a>
                                    </div>
                                </div>
                            </div> 
                        </div>
                </div>
            </div>
            <div [visible]="visiblea" cCollapse  class="row m-0 mt-4">
                <div class="col-md-3">
                    <div class="card border-{{colorapp}} p-0">
                        <div class="card-header text-white border-{{colorapp}} app-{{colorapp}}"><h5 class="card-title"></h5></div>
                        <div class="card-body">
                            <div class="col-12 d-flex justify-content-around">
                                <img width="60" alt="Angular Logo" src="/assets/images/logo_aexa.svg"/> <h5 class="card-title">Aexa Light</h5>
                            </div>
                            <div class="row text-center">
                                <a (click)="toggleCollapse(3)" cButton class="me-1" color="primary">
                                    <h5 class="card-title">Pasajero 3</h5>
                                    <i class="fa-solid fa-person-seat-reclined fa-2x"></i>
                                </a>
                            </div>
                        </div> 
                    </div>
                </div>
                <div [visible]="visible3" cCollapse class="col-md-9">
                        <div class="card border-{{colorapp}} p-0">
                            <div class="card-header text-white border-{{colorapp}} app-{{colorapp}}"><h5 class="card-title m-0">Datos</h5></div>
                            <div class="card-body">
                                <div class="input-group border mb-2">
                                    <span class="input-group-text">Nombre y Apellidos</span>
                                    <input type="text" aria-label="First name" class="form-control">
                                    <input type="text" aria-label="Last name" class="form-control">
                                </div>
                                <div class="row d-flex justify-content-around">
                                    <div class="col-md-6 d-flex justify-content-around">
                                    </div>
                                    <div class="col-md-6 d-flex justify-content-end">
                                        <a routerLink="/asientos" class="btn btn-primary">Guardar</a>
                                    </div>
                                </div>
                            </div> 
                        </div>
                </div>
            </div>
            <div class="row m-0 mt-4">
                <div class="col-md-3">
                    <div class="card border-{{colorapp}} p-0">
                        <div class="card-header text-white border-{{colorapp}} app-{{colorapp}}"><h5 class="card-title"></h5></div>
                        <div class="card-body">
                            <div class="col-12 text-center">
                                <h5 class="card-title">Agregar Pasajero</h5> <i class="fa-solid fa-user-plus"></i>
                            </div>
                            <div class="row d-flex justify-content-around">
                                <div class="col-md-6 text-center">
                                    <a (click)="toggleCollapse(4)" cButton class="me-1" color="primary">
                                        <h5 class="card-title">Adulto</h5>
                                    <i class="fa-solid fa-people fa-2x"></i>
                                    </a>
                                </div>
                                <div class="col-md-6 text-center">
                                    <a (click)="toggleCollapse(4)" cButton class="me-1" color="primary">
                                        <h5 class="card-title">Menor</h5>
                                    <i class="fa-solid fa-children fa-2x"></i>
                                    </a>
                                </div>
                            </div>
                        </div> 
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 m-0">
            <div class="card border-{{colorapp}} mb-3">
            <div class="card-header text-white border-{{colorapp}} app-{{colorapp}}"><h5 class="card-title">Informacion</h5></div>
            <div class="card-body text-dark">
                <h5 class="card-title">Viaje</h5>
                <p class="card-text">TUX - TAP <br> 17:00 - 05:00 <br> Jueves 27 Julio 2023</p>
                <h5 class="card-title">Pasajeros</h5>
                <p class="card-text">Hugo David Aguilar</p>
                <h5 class="card-title">Costo</h5>
                <p class="card-text">Tarifa - $450.00 <br> Descuento - $50</p>
                <h5 class="card-title">Servicio Extra</h5>
                <p class="card-text"></p>
                
                <h5 class="card-title">Terminos y condiciones</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
            <div class="card-footer bg-transparent border-{{colorapp}}">
                <h5 class="card-title">Total</h5>
                <p class="card-text"></p>
            </div>
        </div>
        </div>
    </div>
</div>
    