<div class="container-fluid p-4">
    
    <div class="row">
        <div class="col-md-8 m-0">
            <div class="row m-0 mb-4 d-flex justify-content-around text-center">
                <div class="col-md-2"><i class="fa-solid fa-city"></i> Rutas</div>
                <div class="col-md-2"><i class="fa-solid fa-person"></i> Pasajero</div>
                <div class="col-md-2"><i class="fa-solid fa-person-seat"></i> Asientos</div>
                <div class="col-md-2"><i class="fa-solid fa-ticket"></i> Pago</div>
                <div class="col-md-3"><i class="fa-solid fa-shield-check"></i> Confirmacion</div>
            </div>
                <mat-progress-bar mode="determinate" value="10"></mat-progress-bar>
            <div class="row m-0 mt-4">
                <div class="card border-primary p-0">
                    <div class="card-header text-white border-primary app-{{colorapp}}">
                        <!--h5 class="card-header text-white p-0">
                            Tuxtla <i class="fa-solid fa-route fa-2x"></i> Tapachula
                        </h5-->
                    </div>
                    <div class="card-body">
                    <div class="col-md-12 d-flex justify-content-around">
                        <div class="col-md-2"><img width="60" alt="Angular Logo" src="/assets/images/logo_aexa.svg"/></div>
                        <div class="col-md-10"><p class="card-text">Salida 17:00 horas | Tuxtla <i class="fa-solid fa-route fa-1x"></i> Llegada 17:00 horas | Tapachula</p></div>
                    </div>
                    <div class="row d-flex justify-content-between">
                        <div class="col-md-2 d-flex justify-content-between align-self-center">
                            <i class="fa-solid fa-map-location-dot"></i>
                            <a (click)="toggleCollapse(1)" cButton class="me-1" color="primary">
                                <i class="fa-duotone fa-play"></i>
                            </a>
                        </div>
                        <div class="col-md-5 align-self-center">
                            <div [visible]="visible1" cCollapse class="col-md-12 align-self-center">
                                <div class="col-md-12 d-flex justify-content-around">
                                    <i class="fa-solid fa-person-seat fa-1x"></i> 
                                    <i class="fa-solid fa-person-seat-reclined fa-1x"></i> 
                                    <i class="fa-solid fa-mug-hot fa-1x"></i>
                                    <i class="fa-solid fa-ticket fa-1x"></i>
                                    <i class="fa-solid fa-route fa-1x"></i>
                                </div>
    
                            </div>
                        </div>
                        <div class="col-md-5 d-flex justify-content-end">
                            <a routerLink="/pasajeros" class="btn btn-primary">Total $400.00</a>
                        </div>
                    </div>
                    </div> 
                </div>
            </div>
            <div class="row m-0 mt-4">
                <div class="card border-primary p-0">
                    <div class="card-header text-white border-primary app-{{colorapp}}">
                        <!--h5 class="card-header text-white p-0">
                            Tuxtla <i class="fa-solid fa-route fa-2x"></i> Tapachula
                        </h5-->
                    </div>
                    <div class="card-body">
                    <div class="col-md-12 d-flex justify-content-around">
                        <div class="col-md-2"><img width="60" alt="Angular Logo" src="/assets/images/logo_aexa.svg"/></div>
                        <div class="col-md-10"><p class="card-text">Salida 17:00 horas | Tuxtla <i class="fa-solid fa-route fa-1x"></i> Llegada 17:00 horas | Tapachula</p></div>
                    </div>
                    <div class="row d-flex justify-content-around">
                        <div class="col-md-2 d-flex justify-content-between align-self-center">
                            <i class="fa-solid fa-map-location-dot"></i>
                            <a (click)="toggleCollapse(1)" cButton class="me-1" color="primary">
                                <i class="fa-duotone fa-play"></i>
                            </a>
                        </div>
                        <div class="col-md-5 align-self-center">
                            <div [visible]="visible1" cCollapse class="col-md-12 align-self-center">
                                <div class="col-md-12 d-flex justify-content-around">
                                    <i class="fa-solid fa-person-seat fa-1x"></i> 
                                    <i class="fa-solid fa-person-seat-reclined fa-1x"></i> 
                                    <i class="fa-solid fa-mug-hot fa-1x"></i> 
                                    <i class="fa-solid fa-ticket fa-1x"></i> 
                                    <i class="fa-solid fa-route fa-1x"></i> 
                                </div>
    
                            </div>
                        </div>
                        
                        <div class="col-md-5 d-flex justify-content-end">
                            <a routerLink="/pasajeros" class="btn btn-primary">Total $600.00</a>
                        </div>
                    </div>
                    </div> 
                </div>
            </div>
        </div>
        <div class="col-md-4 m-0">
            <div class="card border-primary mb-3">
            <div class="card-header text-white border-primary app-{{colorapp}}"><h5 class="card-title">Informacion</h5></div>
            <div class="card-body text-dark">
                <h5 class="card-title">Viaje</h5>
                <p class="card-text">Ruta <br> TUX - TAP <br> Jueves 27 Julio 2023</p>
                <h5 class="card-title">Pasajeros</h5>
                <h5 class="card-title">Costo</h5>
                <h5 class="card-title">Servicio Extra</h5>
                
                <h5 class="card-title">Terminos y condiciones</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
            <div class="card-footer bg-transparent border-primary">
                <h5 class="card-title">Total</h5>
                <p class="card-text">$400.00</p>
            </div>
        </div>
        </div>
    </div>
</div>
    