.container-fluid {margin-top: 60px;}
.td {
    padding-top: 0%;
    padding-bottom: 0%;
  }

/*.card-header {
  background-color: blue;
}*/

#bus {
  border-color: blue;
  border-radius: 1%;
  border-style: dotted;
  background-color: rgb(86, 153, 253);
}

.img {
  object-fit: cover;
}

.app-basic {
  background-color: rgb(38, 132, 187);
}

.app-titan {
  background-color: black;  
}

.app-aexa {
  background-color: blue;  
}

.app-avisa {
  background-color: green;  
}

.app-occ {
  background-color: red;  
}

.border-basic {
  border-color: rgb(38, 132, 187);
}

.border-titan {
  border-color: black;  
}

.border-aexa {
  border-color: blue;  
}

.border-avisa {
  border-color: green;  
}

.border-occ {
  border-color: red;  
}

.nav-link {
  color: white;
}

#form-ruta {
  background-color: blue;
}

.mat-form-field .my-form-field .mat-form-field-wrapper {
  margin-bottom: -1.25em;
}

/*.example-panel-occ.mat-mdc-select-panel {
  background: rgb(255, 0, 0);
}

.example-panel-avisa.mat-mdc-select-panel {
  background: rgba(0, 255, 0, 0.5);
}

.example-panel-aexa.mat-mdc-select-panel {
  background: rgba(0, 0, 255, 0.5);
}
.example-panel-titan.mat-mdc-select-panel {
  background: rgb(0, 0, 0);
}
*/