.nav-link {
  color: white;
}

.td {
    padding-top: 0%;
    padding-bottom: 0%;
  }

.card-header {
  background-color: blue;
}

#bus {
  border-color: blue;
  border-radius: 1%;
  border-style: dotted;
  background-color: rgb(86, 153, 253);
}

.img {
  object-fit: cover;
}

.navbar {
  background-color: blue;
}

#form-ruta {
  background-color: blue;
}

.mat-form-field .my-form-field .mat-form-field-wrapper {
  margin-bottom: -1.25em;
}

.example-panel-red.mat-mdc-select-panel {
  background: rgb(255, 255, 255);
}

.example-panel-green.mat-mdc-select-panel {
  background: rgba(0, 255, 0, 0.5);
}

.example-panel-blue.mat-mdc-select-panel {
  background: rgba(0, 0, 255, 0.5);
}